.project-name{
  font: fantasy;
  font-size:30px; font-style:italic; 
  color: BLACK;

  text-shadow:  3 3px 0 rgba(200,200,200,.5)

}
.app{

  background: black;
  padding: 20px

}

.app h4{

  font: sans-serif;
  
  text-decoration:none;
  color: rgb(200,200,200);
  text-shadow:  0 1px 0 rgba(200,200,200,.5);
  letter-spacing: 1px;
  /*optional gradients
   background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(1,149,214,1) 0%, rgba(0,0,68, 1) 100%);*/

}
.app-title{
  font-style:"Emblema one",serif; 
  color: WHITE;
  text-shadow:  0 1px 0 rgba(200,200,200,.5);
  letter-spacing: 1px;

}

.app-description
{
  font-size:17px; font-style:"Emblema one",sans-serif; color: rgb(150,250,150);

}

.app-uploader{font-size:17px; font-style:"Emblema one",sans-serif; color: rgb(100,255,100);

}


.app-rating
{
  font-size:17px; font-style:"Emblema one",sans-serif; color:navy;


}

/*

.app-downloads{font-size:17px; font-style:"Emblema one",sans-serif; color:navy;


}

.app-releasedate{font-size:17px; font-style:"Emblema one",sans-serif; color:navy;

}

*/
.nav-bg{
  background: url('images/hex.png');
}
.nav-bottom-bg{
b ackground: url('images/jigsaw.png');

}
.shadow{
    box-shadow: 0 0 10px  10px rgba(0,0,0,.4), 0 1px 2px rgba(0,0,0,.8) inset;
}
.slider{

  width: 100%;
  background: url('images/');
}

.theme{

  background: url('images/wood048.jpg');

}
.logo{

  width: 90px;
  height: 100px;
}
.brand{


}
.appimage{

    width: 130px;
    height: 190px;
}

.card{

  display: inline;
  width: 150px;
  height: 120px;
}
/**=============================
NAVBAR STYLE STARTS
*=============================*/

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

/**=============================
NAVBAR STYLE ENDS
*=============================*/

/*====================
3d button starts
=====================*/
.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
    color: white;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
    color: white;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
    color: white;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
    color: white;
}

/*====================
3d button ends
=====================*/

/*====================
3d textfield starts
=====================*/

.textfield{
 box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}


.textfield:hover{
	
 box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad,
 			 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#EEE;
}
.textfield:focus{
 box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}

/*====================
3d textfield ends
=====================*/

